<ion-header [translucent]="true">
  <ion-toolbar color="red">
    <ion-title>
    Component 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
  <ion-card color="medium">
    <img alt="Silhouette of mountains" src="https://cdn.discordapp.com/attachments/1249259331237449748/1251881515239866390/1.png?ex=66c3e844&is=66c296c4&hm=189261698aad267107a5f5ea849a65fbc7b2a44f94107e00a104ac51b661afc6&" />
    <ion-card-header>
      <ion-card-title>ปั้มผู้ติดตาม !</ion-card-title>
      <ion-card-subtitle>1000 คน เท่านั้น</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>
  </ion-card>
</ion-item>

<ion-item>
<ion-label>2. checkbox</ion-label>
<ion-checkbox slot="end">เลือกฉันสิ</ion-checkbox>
<ion-checkbox slot="end">เลือกฉันหน่อย</ion-checkbox>
</ion-item>
<ion-item>
  <ion-chip>
    <ion-avatar>
      <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
    </ion-avatar>
    <ion-label>Avatar Chip</ion-label>
    <ion-icon name="close-circle"></ion-icon>
  </ion-chip>
  
  <ion-chip>
    <ion-icon name="pin" color="primary"></ion-icon>
    <ion-label>Icon Chip</ion-label>
    <ion-icon name="close"></ion-icon>
  </ion-chip>
</ion-item>

</ion-content>
